:root {
    box-sizing: border-box;
  }
  *,
  ::before,
  ::after {
    box-sizing: inherit;
  }
  /* Body */
  body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .nav {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 5px;
  }
  #home {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #000000;
    background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
      linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
      linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
      linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
      linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
      linear-gradient(
        #1d1d1d 25%,
        #1a1a1a 25%,
        #1a1a1a 50%,
        transparent 50%,
        transparent 75%,
        #242424 75%,
        #242424
      );
    background-color: #131313;
    background-size: 20px 20px;
    color: #ffffff;
  }
  #about-me {
    border-bottom: 1px solid #000000;
  }
  #about-me h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #about-me p {
    padding-left: 15px;
  }
  #portfolio {
    border-bottom: 1px solid #000000;
  }
  #portfolio h1 {
    display: flex;
    justify-content: center;
  }
  #portfolio .project {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #000000;
    padding: 15px;
    background-color: black;
    background-image: radial-gradient(
        white,
        rgba(255, 255, 255, 0.2) 2px,
        transparent 40px
      ),
      radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
      radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
      radial-gradient(
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.1) 2px,
        transparent 30px
      );
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    color: white;
  }
  #portfolio .project a:link {
    color: blue;
  }
  #portfolio .project a:visited {
    color: purple;
  }
  #portfolio .project a:hover {
    color: green;
  }
  #portfolio .project a:active {
    color: pink;
  }
  /* Footer */
  #contact p {
    padding-left: 15px;
  }
  